@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?9ghy1x');
  src:  url('fonts/icon.eot?9ghy1x#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?9ghy1x') format('truetype'),
    url('fonts/icon.woff?9ghy1x') format('woff'),
    url('fonts/icon.svg?9ghy1x#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i_allerlei_neg .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.i_allerlei_neg .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_allerlei_neg .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_allerlei_neg .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_allerlei_neg .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_allerlei_neg .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_allerlei_neg .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_facebook_neg .path1:before {
  content: "\e907";
  color: rgb(255, 255, 255);
}
.i_facebook_neg .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_insta_neg .path1:before {
  content: "\e909";
  color: rgb(255, 255, 255);
}
.i_insta_neg .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_insta_neg .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_insta_neg .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_kindertheater_neg .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.i_kindertheater_neg .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_konzert_neg .path1:before {
  content: "\e90f";
  color: rgb(255, 255, 255);
}
.i_konzert_neg .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_konzert_neg .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_konzert_neg .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_kesung_neg .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.i_kesung_neg .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_kesung_neg .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_kesung_neg .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_kesung_neg .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_kesung_neg .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_kesung_neg .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_mail_neg .path1:before {
  content: "\e91a";
  color: rgb(255, 255, 255);
}
.i_mail_neg .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_mail_neg .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_party_neg .path1:before {
  content: "\e91d";
  color: rgb(255, 255, 255);
}
.i_party_neg .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path8:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path9:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path10:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path11:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path12:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path13:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path14:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path15:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path16:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path17:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path18:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path19:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path20:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path21:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path22:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path23:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path24:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path25:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path26:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path27:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_party_neg .path28:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(24, 23, 22);
}
.i_theater_neg .path1:before {
  content: "\e939";
  color: rgb(255, 255, 255);
}
.i_theater_neg .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_theater_neg .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_theater_neg .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_theater_neg .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.i_allerlei_pos .path1:before {
  content: "\e93e";
  color: rgb(29, 29, 27);
}
.i_allerlei_pos .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_allerlei_pos .path3:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_allerlei_pos .path4:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_allerlei_pos .path5:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_allerlei_pos .path6:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_allerlei_pos .path7:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_kindertheater_pos .path1:before {
  content: "\e945";
  color: rgb(29, 29, 27);
}
.i_kindertheater_pos .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_konzert_pos .path1:before {
  content: "\e947";
  color: rgb(29, 29, 27);
}
.i_konzert_pos .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_konzert_pos .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_konzert_pos .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_lesung_pos .path1:before {
  content: "\e94b";
  color: rgb(29, 29, 27);
}
.i_lesung_pos .path2:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_lesung_pos .path3:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_lesung_pos .path4:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_lesung_pos .path5:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_lesung_pos .path6:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_lesung_pos .path7:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path1:before {
  content: "\e952";
  color: rgb(29, 29, 27);
}
.i_party_pos .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path4:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path5:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path6:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path7:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path8:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path9:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path10:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path11:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path12:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path13:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path14:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path15:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path16:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path17:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path18:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path19:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path20:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path21:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path22:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path23:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path24:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path25:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path26:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path27:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_party_pos .path28:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_pfeil_links_pos .path1:before {
  content: "\e96e";
  color: rgb(217, 217, 217);
}
.i_pfeil_links_pos .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_pfeil_oben_pos .path1:before {
  content: "\e970";
  color: rgb(217, 217, 217);
}
.i_pfeil_oben_pos .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_pfeil_rechts_pos .path1:before {
  content: "\e972";
  color: rgb(217, 217, 217);
}
.i_pfeil_rechts_pos .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_pfeil_unten_pos .path1:before {
  content: "\e974";
  color: rgb(217, 217, 217);
}
.i_pfeil_unten_pos .path2:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_sponsoring_pos .path1:before {
  content: "\e976";
  color: rgb(29, 29, 27);
}
.i_sponsoring_pos .path2:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_theater_pos .path1:before {
  content: "\e978";
  color: rgb(24, 23, 22);
}
.i_theater_pos .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_theater_pos .path3:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_theater_pos .path4:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_theater_pos .path5:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_tickets_pos .path1:before {
  content: "\e97d";
  color: rgb(29, 29, 27);
}
.i_tickets_pos .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i_tickets_pos .path3:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
